.darkMode{
    footer{
        .footer__top{
            .nav{
                .nav-item{
                    .nav-link{
                        color: $color-dark-5;
                    }
                }
            }
            .btn-group{
                button{
                    @include styleText($color-dark-5, $fs-1, $fw-1);
                    background-color: $color-dark-0;
                    &:hover{
                        color: $color-dark-5;
                        background-color: $color-dark-6;
                        border: 1px solid $color-dark-1;
                    }
                }
            }
        }
        hr{
            background-color: $color-dark-1;
        }
        .footer__bottom{
            color: $color-dark-3;
            .img-black{
                display: none;
            }
            .img-white{
                display: inline-block;
            }
            .nav-link{
                color: $color-dark-5!important;
            }
        }
    }
}