.myNavbar {
  border-bottom: 3px solid $color-black-0;
  .myNavbar__colright {
    .myNavbar__right {
      .navbar-nav {
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        .nav-item {
          position: relative;
          padding: $pd-2 + 2 $pd-2;
          border-radius: $border-radius + 1;
          &:hover {
            background-color: rgba(20, 23, 28, 0.05);
            .overlay {
              display: block
            }
          }
          .nav-link {
            @include styleText($color-black-light, $fs-1, $fw-0);
          }
          .overlay {
            z-index: 3;
            width: 330px;
            background-color: $color-white-0;
            border: 1px solid transparent;
            display: none;
            text-align: center;
            position: absolute;
            top: 60px;
            right: 0px;
            padding: $pd-3;
            border-top: 1px solid rgba(20, 23, 28, 0.05);
            box-shadow: 0px 4px 16px rgb(20, 23, 28 / 25%);
            &::before {
              content: "";
              width: 15px;
              height: 15px;
              display: block;
              border: 1px solid $color-white-0;
              position: absolute;
              top: -9px;
              right: 10%;
              transform: rotate(47deg);
              background-color: $color-white-0;
              border-top: 1px solid rgba(20, 23, 28, 0.05);
              border-left: 1px solid rgba(20, 23, 28, 0.05);
            }
          }
        }
        .myNavbar-cart {
          .nav-link {
            font-size: $fs-0 + 5;
          }
          padding: $pd-2;
          width: 50px;
          height: 50px;
          border-radius: 50%;
        }
        .myNavbar-buttons {
          .button__white{
            margin-right: 5px;
          }
          display: flex;
          white-space: nowrap;
          &:hover {
            background-color: transparent;
          }
        }
      }
    }
  }
  .myNavbar__colleft {
    display: flex;
    align-items: center;
    padding-left: 0;
    .myNavbar__left {
      flex-grow: 1;
      text-align: center;
      margin-right: 0;
      .navbar-brand {
        margin-right: 0;
        img {
          width: 110px;
        }
        .logo-black{
          display: inline-block;
        }
        .logo-white{
          display: none;
        }
      }
    }

    .myNavbar__categories {
      flex-grow: 1;
      text-align: center;
      @include styleText($color-black-light, $fs-1, $fw-0);
      i {
        color: $color-gray-3;
      }
    }
    .myNavbar__form {
      flex-grow: 8;
      @include styleFormSearch($color-gray-4, $color-white-0, $color-gray-4);
    }
  }

  @media screen and (min-width:1200px) and (max-width:1375px){
    .nav-item{
      .nav-link{
        font-size: 12px!important;
        white-space: nowrap;
      }
    }   
  }

  @include responsive("extra-large"){
    .business, .instructor {
      display: none;
    }
  }

  @include responsive("medium"){
    .myNavbar__categories, .myNavbar__form{
      display: none;
    }
    .myNavbar__right{
      .myNavbar-buttons{
        button{
          display: none;
        }
      }
    }
    &.myNavbar__right{
      width: 50%;
      margin-left: auto;
    }
  }

}
