.jobs{
    background-color: $color-gray-5;
    .jobs__content{
        // .jobs__border{
        //     border-right: 1px solid $color-gray-2;
        // }
        padding-bottom: $pd-1;
        .jobs-cus{
            text-align: center;
            .jobs__item{
                max-width: 450px;
                margin: 0 auto;
                padding: $pd-3;
                h2{
                    @include styleText($color-black-light, $fs-3 + 1, $fw-1)
                }
            }
        }
        
    }
    @include responsive("medium"){
        .border-right{
            border-right: none!important;
        }
    }
}