@mixin styleText($color, $fs, $fw) {
    color: $color;
    font-size: $fs;
    font-weight: $fw;
}

@mixin styleButton($color, $bg-color, $border, $fs, $fw, $py, $px){
    color: $color;
    background-color: $bg-color;
    border: 1px solid $border;
    font-size: $fs;
    font-weight: $fw;
    padding: $py $px;
    cursor: pointer;
}

@mixin hoverButton($color-hover, $bg-hover, $border-hover){
    color: $color-hover;
    background-color: $bg-hover;
    border: 1px solid $border-hover;
}

@mixin styleFormSearch($bg-color, $bg-color-focus, $border-color) {
    .input-group {
        background-color: $bg-color;
        .form-control {
          box-shadow: none;
          border-color: transparent;
          background-color: transparent;
          &::placeholder {
            color: $color-black-light;
          }
          &:focus {
            background-color: $bg-color-focus;
          }
          &:focus + .input-group-append {
            .input-group-text {
              background-color: $color-white-0;
              border-top-color: $border-color;
              border-bottom-color: $border-color;
              border-right-color: $border-color;
            }
          }
        }
        .input-group-append {
          .input-group-text {
            border-color: transparent;
            background-color: transparent;
            color: $color-red-0;
            &:hover {
              color: $color-white-0;
              background-color: $color-red-0;
            }
          }
        }
      }
}

@mixin styleFormSearchDark($bg-color, $color-text) {
  .input-group {
      background-color: $bg-color;
      .form-control {
        box-shadow: none;
        border-color: transparent;
        background-color: transparent;
        &::placeholder {
          color: $color-text;
        }
        &:focus {
          background-color: $color-dark-6;
          border-top-color: $color-dark-1;
          border-bottom-color: $color-dark-1;
          border-left-color: $color-dark-1;
        }
        &:focus + .input-group-append {
          .input-group-text {
            background-color: $color-dark-6;
            border-top-color: $color-dark-1;
            border-bottom-color: $color-dark-1;
            border-right-color: $color-dark-1;
            &:hover{
              background-color: $color-red-0;
            }
          }
        }
        
      }
      .input-group-append {
        .input-group-text {
          border-color: transparent;
          background-color: transparent;
          color: $color-red-0;
          &:hover {
            color: $color-white-0;
            background-color: $color-red-0;
          }
        }
      }
    }
}

@mixin responsive($screen) {
  @if map-has-key($map: $breakpoints, $key: $screen){
    $value: map-get($map: $breakpoints, $key: $screen);
    @media screen and (max-width: $value){
      @content;
    }
  }
  @else{
    @warn "`{$screen}` isn't exist in breakpoints";
  }
}